body {
  background-image: url("https://wallpapertag.com/wallpaper/full/1/1/8/402267-creepy-background-2900x1500-for-mobile.jpg");
  background-size: cover;
  background-position: top;
  color: white;
  font-family: "Foldit", sans-serif;
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.social-links a {
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.social-links img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.social-links img:hover {
  transform: scale(1.1);
}

header, footer {
  text-align: center;
  font-family: "Foldit", sans-serif;
  color: #ffffff;
  transition: color 0.5s ease;
}

h1, h2 {
  /* Additional styling properties */
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-tooltip {
  visibility: hidden;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .image-tooltip {
  visibility: visible;
  opacity: 1;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.image-item {
  width: calc(25% - 10px);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.image-item img {
  width: 80%;
  display: block;
}

.image-item:hover {
  transform: scale(1.05);
}
